body {
  --mustard: #ce9f31;
  --light: #fbfbfd;
  --dark: #373d49;
  background-color: var(--bg);
}

body.light {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: var(--mustard);
  --hr: rgba(0, 0%, 0%, 20%);
  --blockquote: rgba(0, 0, 0, 55%);
  --blockquoteLeft: rgba(0, 0, 0, 90%);

  /* Code Highlighting (Tomorrow theme) */
  --codeHighLine: rgb(105, 98, 72);
  --codeHighLineLeft: #e0aa2c;

  --codeHighBase00: #cccccc;
  --codeHighBase01: #cccccc;
  --codeHighBase02: #2d2d2d;

  --codeHighTokenBase00: #999999;
  --codeHighTokenPunctuation: #cccccc;
  --codeHighTokenTag: #e2777a;
  --codeHighTokenDeleted: #e2777a;
  --codeHighTokenNamespace: #e2777a;
  --codeHighTokenProperty: #f8c555;
  --codeHighTokenBoolean: #f08d49;
  --codeHighTokenNumber: #f08d49;
  --codeHighTokenConstant: #f8c555;
  --codeHighTokenSymbol: #f8c555;
  --codeHighTokenSelector: #cc99cd;
  --codeHighTokenOperator: #67cdcc;
  --codeHighTokenAttrName: #e2777a;
  --codeHighTokenAttrValue: #7ec699;
  --codeHighTokenString: #7ec699;
  --codeHighTokenChar: #7ec699;
  --codeHighTokenBuiltin: #cc99cd;
  --codeHighTokenUrl: #67cdcc;
  --codeHighTokenInserted: inherit;
  --codeHighTokenEntity: #67cdcc;
  --codeHighTokenAtrule: #cc99cd;
  --codeHighTokenKeyword: #cc99cd;
  --codeHighTokenClassName: #f8c555;
  --codeHighTokenFunction: #f08d49;
  --codeHighTokenFunctionName: #6196cc;
  --codeHighTokenRegex: #7ec699;
  --codeHighTokenVariable: #7ec699;
  --codeHighTokenImportant: #cc99cd;
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: var(--dark);
  --textNormal: rgba(255, 255, 255, 80%);
  --textTitle: var(--light);
  --textLink: var(--mustard);
  --hr: rgba(0, 0%, 100%, 20%);
  --blockquote: rgba(255, 255, 255, 45%);
  --blockquoteLeft: rgba(255, 255, 255, 90%);

  /* Code Highlighting (Solarized Light) */
  --codeHighLine: #feb;
  --codeHighLineLeft: #f99;

  --codeHighBase00: #657b83;
  --codeHighBase01: #073642;
  --codeHighBase02: #fdf6e3;

  --codeHighTokenBase00: #93a1a1;
  --codeHighTokenPunctuation: #586e75;
  --codeHighTokenTag: #268bd2;
  --codeHighTokenDeleted: #268bd2;
  --codeHighTokenNamespace: inherit;
  --codeHighTokenProperty: #268bd2;
  --codeHighTokenBoolean: #268bd2;
  --codeHighTokenNumber: #268bd2;
  --codeHighTokenConstant: #268bd2;
  --codeHighTokenSymbol: #268bd2;
  --codeHighTokenSelector: #2aa198;
  --codeHighTokenOperator: inherit;
  --codeHighTokenAttrName: #2aa198;
  --codeHighTokenAttrValue: #859900;
  --codeHighTokenString: #2aa198;
  --codeHighTokenChar: #2aa198;
  --codeHighTokenBuiltin: #2aa198;
  --codeHighTokenUrl: #2aa198;
  --codeHighTokenInserted: #2aa198;
  --codeHighTokenEntity: #657b83;
  --codeHighTokenAtrule: #859900;
  --codeHighTokenKeyword: #859900;
  --codeHighTokenClassName: inherit;
  --codeHighTokenFunction: #b58900;
  --codeHighTokenFunctionName: inherit;
  --codeHighTokenRegex: #cb4b16;
  --codeHighTokenVariable: #cb4b16;
  --codeHighTokenImportant: #cb4b16;
}

#ng-switch-checkbox {
  opacity: 0;
}

.gatsby-highlight {
  margin-bottom: 1.75rem;
  margin-left: -1.2rem;
  margin-right: -1.2rem;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  max-height: 50em;
}

.gatsby-highlight pre[class*="language-"] {
  float: left;
  width: 100%;
}

.gatsby-highlight pre[class*="language-"] span[class="line-numbers-rows"] {
  top: 1em !important;
  left: 0.7em !important;
}

.gatsby-highlight-code-line {
  background-color: var(--codeHighLine);
  display: block;
  margin-right: -1em;
  margin-left: -1.8em;
  padding-right: 1em;
  padding-left: 1.5em;
  border-left: 0.25em solid var(--codeHighLineLeft);
}

blockquote {
  color: var(--blockquote);
  border-left-color: var(--blockquoteLeft);
}

ul,
ol {
  margin-left: 1.75rem;
}

.command-line-prompt > span:before {
  color: #999;
  content: " ";
  display: block;
  padding-right: 0.8em;
}

/* Prompt for all users */
.command-line-prompt > span[data-user]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] $";
}

/* Prompt for root */
.command-line-prompt > span[data-user="root"]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] #";
}

.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}

.social-link {
  box-shadow: none;
  margin-right: 0.5rem;
  height: 24px;
  display: block;
}

.social-link svg {
  transition: .3s all;
}

.social-link:hover svg {
  fill: var(--mustard);
}

