body {
    --orange: #df8a49;
    --mustard: #ce9f31;
    --light: rgb(251, 251, 253);
    --dark: rgba(40,44,53, 1);
    background-color: var(--bg);
}
  
body.light {
    --bg: var(--light);
    --textNormal: #222;
    --textTitle: #222;
    --textLink: var(--orange);
    --hr: rgba(0, 0%, 0%, 20%);
}

body.dark {
    -webkit-font-smoothing: antialiased;

    --bg: var(--dark);
    --textNormal: rgba(255, 255, 255, 80%);
    --textTitle: white;
    --textLink: var(--mustard);
    --hr: rgba(0, 0%, 100%, 20%);
}

#ng-switch-checkbox {
    opacity: 0;
}